---
name: home
url: /
---
<div class="grid-frame vertical">
	<div class="title-bar">
	  <div class="title">Projects / All Projects</div>
	</div>

	<div class="grid-block">
	  <div id="sidebar" class="grid-block medium-2 small-up-1">
	      <div class="grid-block">
	        <div class="grid-content">
	          <select name="" id="">
	            <option value="">Breakfast</option>
	            <option value="">Bacon Pancakes</option>
	            <option value="">Mountain Dew</option>
	            <option value="">Scrambled eggs with grilled zucchini, spinach, leeks, roasted tomatoes and mozzarella</option>
	          </select>
	        </div>
	      </div>
	      <div class="grid-block"></div>
	      <div class="grid-block"></div>
	      <div class="grid-block"></div>
	      <div class="grid-block"></div>
	  </div>
	  <div id="main" class="grid-block main">
	    <div class="grid-block small-up-1">
	      <div class="grid-content">
	        <div class="title">Projects / All Projects</div>
	      </div>
	      <div class="grid-block small-up-9">
	        <div class="grid-block">
	          <div class="grid-content">
	           <input id="checkbox1" type="checkbox"><label for="checkbox1"></label>
	           <label>shahzeen</label>
	          </div>
	        </div>
	        <div class="grid-block">
	          <div class="grid-content">
	          </div>
	        </div>
	        <div class="grid-block">
	          <div class="grid-content">
	          </div>
	        </div>
	        <div class="grid-block">
	          <div class="grid-content">
	          </div>
	        </div>
	        <div class="grid-block">
	          <div class="grid-content">
	          </div>
	        </div>
	        <div class="grid-block">
	          <div class="grid-content">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>