---
name: project_setup
url: /project_setup
---
<div class="grid-block setup-container">
    <div class="grid-content shrink">
        <div class="grid-block left-container">
            <div class="grid-content">
                <a class="dark button cancel" href="#">Cancel</a>
                <ul>
                    <li><a href="#"><span class="secondary badge">1</span>Setup</a></li>
                    <li><a href="#"><span class="secondary badge">2</span>Editorial Staff</a></li>
                    <li><a href="#"><span class="secondary badge">3</span>Client Inputs</a></li>
                    <li><a href="#"><span class="secondary badge">4</span>Content</a></li>
                    <li><a href="#"><span class="secondary badge">5</span>Summary</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-block right-container">
        <div class="grid-content">
            <div class="grid-block">
                <ul class="grid-content bar">
                    <li>
                        <span class="secondary badge">1</span><span>Setup</span>
                    </li>
                </ul>
            </div>
            <div class="grid-block wrap-setup-form">
                <div class="grid-content">
                    <form>
                        <div class="grid-block multi-fields">
                            <div class="grid-content large-6">
                                <div class="grid-block">
                                    <div class="grid-content large-4">
                                        <label class="head">Project ID</label>
                                    </div>
                                    <div class="grid-content large-5">
                                        <input type="text" placeholder="Text field">
                                    </div>
                                </div>
                            </div>
                            <div class="grid-content large-6">
                                <div class="grid-block">
                                    <div class="grid-content large-4">
                                        <label>Project manager</label>
                                    </div>
                                    <div class="grid-content large-8" ng-controller="selectbox">
                                        <ui-select ng-model="manager.selected" theme="selectize" ng-disabled="disabled">
                                                <ui-select-match placeholder="Select ">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="manager in managers | filter: $select.search">
                                                  <span ng-bind-html="manager | highlight: $select.search"></span>
                                                </ui-select-choices>
                                              </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="grid-block">
                            <div class="grid-content">
                                <div class="grid-block">
                                    <div class="grid-content">
                                        <label class="head">Client Info</label>
                                    </div>
                                </div>
                                <div class="grid-block multi-fields">
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>Client name</label>
                                            </div>
                                            <div class="grid-content large-5" ng-controller="selectbox">
                                            	<ui-select ng-model="country.selected" theme="selectize" ng-disabled="disabled">
                                                <ui-select-match placeholder="Select ">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="country in countries | filter: $select.search">
                                                  <span ng-bind-html="country.name | highlight: $select.search"></span>
                                                  <small ng-bind-html="country.code | highlight: $select.search"></small>
                                                </ui-select-choices>
                                              </ui-select>
                                            </div>
                                            <div class="grid-content large-3">
                                                <input id="visible" type="checkbox">
                                                <label for="checkbox1">Visible</label>
                                            </div>
                                            <div class="grid-content large-4">
                                                <label>Project codename</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                            <div class="grid-content large-4">
                                                <label>Content type</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>Project description</label>
                                            </div>
                                            <div class="grid-content large-8">
                                                <textarea rows="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="grid-block">
                            <div class="grid-content">
                                <div class="grid-block">
                                    <div class="grid-content">
                                        <label class="head">Contacts</label>
                                    </div>
                                </div>
                                <div class="grid-block multi-fields">
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>Client contact</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                            <div class="grid-content large-4">
                                                <label></label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                            <div class="grid-content large-4">
                                                <label></label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>Account manager</label>
                                            </div>
                                            <div class="grid-content large-8" ng-controller="selectbox">
                                                <ui-select ng-model="manager.selected" theme="selectize" ng-disabled="disabled">
                                                <ui-select-match placeholder="Select ">{{$select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="manager in managers | filter: $select.search">
                                                  <span ng-bind-html="manager | highlight: $select.search"></span>
                                                </ui-select-choices>
                                              </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="grid-block">
                            <div class="grid-content">
                                <div class="grid-block">
                                    <div class="grid-content">
                                        <label class="head">Schedule</label>
                                    </div>
                                </div>
                                <div class="grid-block multi-fields align-right">
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>Start date</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" date-time ng-model="start" required="true" view="hours" partial="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>End date</label>
                                            </div>
                                            <div class="grid-content large-8">
                                                <input ui-date>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="grid-block">
                            <div class="grid-content">
                                <div class="grid-block">
                                    <div class="grid-content">
                                        <label class="head">Purchase Order</label>
                                    </div>
                                </div>
                                <div class="grid-block multi-fields">
                                    <div class="grid-content large-6">
                                        <div class="grid-block">
                                            <div class="grid-content large-4">
                                                <label>PO#</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="text" placeholder="Text field">
                                            </div>
                                            <div class="grid-content large-4">
                                                <label>PO Date</label>
                                            </div>
                                            <div class="grid-content large-5">
                                                <input type="date" placeholder="Text field">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <form>
                <div class="grid-block bar button-container">
                    <div class="grid-content large-6">
                        <a class="secondary button disabled" href="#">Cancel</a>
                    </div>
                    <div class="grid-content large-6 text-right">
                        <a class="secondary button disabled" href="#">
                            < Back</a>
                                <a class="secondary button" href="#">next ></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>