.project-form-container{
	background: #eeeeee;
	
	.cancel{
		padding: 0.625rem 2.8125rem;
		border-radius: 2px;
		margin: 1.6875rem 1.6875rem 0.625rem 1.6875rem;
	}

	button.dark{
		background-color: #424242;
	}

	.left-container{
		

		>.grid-content{
			padding: 0;
		}
	}
	.right-container{
		border-left:1px solid gray;
		.bar{
			padding: 0.4375rem;
			background: #d6d6d6;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.75rem;

			.badge{		
				margin-right: 0.625rem;
			}
		}

		.wrap-setup-form{
			padding-top:1rem;
			padding-bottom:1rem;	
		}

		.added{
			color: #0088cc;
		}
		ul{
			li{
				margin-right: 0.4375rem;
				padding: 0;
				float: left;
				&:hover{
					background: none;
				}

			}

		}
	}


	.badge{
		color: #0088cc;
		margin-right: 0.3125rem;
		border: 1px solid #e3e3e3;
	}

	ul{
		list-style-type: none;
		margin:0;

		li{
			padding: 0.3125rem 1.6875rem;

			a{
				color: #333333;
				text-transform: capitalize;
				font-size: 0.9rem;
			}

			&:hover{
				background: #bcdaef;
			}
		}	
	}
	.editorial-workflow {
		select {
  			margin: 0;
		}
		input {
			margin: 0;
		}
	}
}