#dashboard-container{
border-top: 1px solid black;
border-bottom: 1px solid black;
padding-bottom: 10px;
background: #FEE8D6;

>.grid-block{
background: white;
border: 1px solid black;
border-top:0;
.grid-block{
padding: 0 10px;
.grid-content{
padding:15px 15px 0 15px;
}
}
}

>.grid-block:first-child,.th{
border-left:0;
}

>.grid-block:last-child,.th{
border-right:0;
}
.th{
text-transform: uppercase;
border-top: 1px solid black;
border-bottom: 1px solid black;
background: #CDB79E !important;
padding: 0 10px;

.grid-content{
padding:0 !important;
}
p{
margin:0;
font-size:12px;
}
}

.mid-col{
margin:0 10px;
}

>.grid-block .th-border-removed{
border-top: 0;
}

.terms{
font-size: 12px;

span{
color:#6495ED;
cursor:pointer;
}

span:nth-child(2){
border-right:2px solid #ccc;
border-left:2px solid #ccc;
padding: 0 10px;
margin: 0 5px;
}

span.active{
color:black;
}
}

.count span:nth-child(2){
float: right;
}



.view{
color: #6495ED !important;
font-size: 12px  !important;
cursor: pointer;
}

.earnings{
font-size: 23px;
font-weight: bold;
}
.earningspertask{
font-size: 16px;
font-weight: bold;
line-height: 1.2;
}
.pertask{
font-weight: normal;
font-size: 12px;
}

}
