.dashboard-container{

	border-bottom: 1px solid gray;
	padding-bottom: 0.625rem;
	background: #fce9ce;

	>.grid-block{
		background: white;
		border: 1px solid gray;
		border-top:0;
		.grid-block{
			padding: 0 0.625rem;
			.grid-content{
				padding:1rem 1rem 0 1rem;
			}
		}
		p{
			font-size:0.75rem;
		}
	}

	>.grid-block:first-child,.th{
		border-left:0;
	}

	>.grid-block:last-child,.th{
		border-right:0;
	}
	.th{
		text-transform: uppercase;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		background: #CDB79E !important;
		padding: 0 0.625rem;
		color: #5a5a5a;

		.grid-content{
			padding:0 !important;
		}
		p{
			margin:0;
			font-size:0.75rem;
		}
	}

	.mid-col{
		margin:0 0.625rem;
	}

	>.grid-block .th-border-removed{
		border-top: 0;
	}

	.terms{
		font-size: 0.75rem;

		span{
			color:#6495ED;
			cursor:pointer;
		}

		span:nth-child(2){
			border-right:2px solid #ccc;
			border-left:2px solid #ccc;
			padding: 0 0.625rem;
			margin: 0 0.3125rem;
		}

		span.active{
			color:black;
		}
	}

	.count span:nth-child(2){
		float: right;
	}

	.view{
		color: #6495ED !important;
		font-size: 0.75rem  !important;
		cursor: pointer;
	}

	.earnings{
		font-size: 1.4375rem;
		font-weight: bold;
	}
	.earningspertask{
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2;
		text-align:right;
	}
	.pertask{
		font-weight: normal;
		font-size: 0.75rem;
	}

}