
				form{

					label{
					font-weight: 600;					
					padding-top: 5px;
					}

					hr{
					margin:0;
					}

					>div{
					padding: 0;
					}

				label.head{
					font-size: 16px;
					font-weight: 400;
				}
				>.grid-block{
					padding: 10px;
					}
				>.grid-block{

				.grid-content{
					padding:5px;

					[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select{

					border-radius: 4px;
					margin:0;
					}
				}
					.multi-fields{
					  margin: 0;
					  >.grid-block{
					  	margin: 0;


					  		.grid-content:first-child{
					  			padding-left:0;
					  		}

					  }
				}
				}
				}