.page-container {
	.header-content {
		h1 {
			font-size:1.143rem;
			font-weight: 500;
			padding: 15px 0 0 15px;
			margin: 0;
			a {
				color: #000;
			}
		}
		.menu-bar {
			margin: 8px 0 15px;
			overflow-x: visible;
			>li {
				-webkit-flex: 0 0 auto; 
				-ms-flex: 0 0 auto;
				flex: 0 0 auto; 
				border-right: 1px solid #ccc; 
				&:last-child {
					border-right: 0;
				}
			}
			a {
				padding: 2px 15px;
				&:hover {
					background:none;
				}
			}
		}
		.menu-group-right {
			.menu-bar {
				>li {
					border: none;
				}
			}
		}
		.action-sheet-container {
			.button {
				background: none;
				color: #000;
				&:hover, &:active {
					background: none;
				}
			}
		}
		.action-sheet {
			width: 150px;
			li {
				text-align: left;
				font-size: 0.75rem;
				a {
					padding: 0.6rem;
				}
			}
		}
		.search-box {
			border-top: 1px solid #ccc;
			padding-top: 15px;
			.button {
				border-bottom-left-radius: 100px;
				border-top-left-radius: 100px;
				background: none;
				border: 1px solid #ccc;
				border-right: 0;
			}
			input[type="search"] {
				border-left: 0;
				border-bottom-right-radius: 100px;
				border-top-right-radius: 100px;
				font-size: 0.6875rem;
				&:hover, &:focus {
					border-color: #ccc;
				}
			}
		}
		.profile-name {
			font-size: 0.9375rem;
			text-align: center;
			margin-bottom: 18px;
			position: relative;
		}
		.arrow-down {
			width: 0; 
			height: 0; 
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;		
			border-top: 4px solid #000;
			position: absolute;
			top: 6px;
			margin-left: 8px;
		}
	}
}