.setup-container{
	background: #fce9ce;
	
	.cancel{
		padding: 0.625rem 2.8125rem;
		border-radius: 2px;
		margin: 1.6875rem 1.6875rem 0.625rem 1.6875rem;
	}

	.left-container{
		

		>.grid-content{
			padding: 0;
		}
	}
	.right-container{
		border-left:1px solid gray;
		.bar{
			padding: 0.4375rem;
			background: #e5d5bb;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.75rem;

			.badge{		
				margin-right: 0.625rem;
			}
		}

		.wrap-setup-form{
			padding: 0.3125rem 0;
		}
		ul{
			li{
				margin-right: 7px;
				padding: 0;
				float: left;
				&:hover{
					background: none;
				}

			}

		}
	}


	.badge{
		color: #6baabf;
		margin-right: 0.3125rem;
		border: 1px solid #efe0c6;
	}

	ul{
		list-style-type: none;
		margin:0;

		li{
			padding: 0.3125rem 1.6875rem;

			a{
				color: #564f44;
				text-transform: capitalize;
			}

			&:hover{
				background: #d4d8d1;
			}
		}

		
	}
}