#setup-container{
	background: #fce9ce;
	.cancel{
		padding: 10px 45px;
		border-radius: 2px;
		margin: 27px 27px 10px 27px;
	}

	.left-container{
		border-right:1px solid gray;

		>.grid-content{
			padding: 0;
		}
	}
	.right-container{
		padding: 0;
			.selected-menu-head{
				.badge{		
					margin-right: 5px 10px;
					}
				}
	}

	.badge{
		color: #6baabf;
		margin-right: 5px;
		border: 1px solid #efe0c6;
	}

	ul{
	list-style-type: none;
	margin:0;

	li{
	padding:5px 27px;

	a{
	color: #564f44;
	text-transform: capitalize;
	}
	}

	:hover{
		background: #d4d8d1;
	}
	}
}