.user-app-wrap {
	margin: 50px 0 0;
	.card {
		box-shadow: none;
		max-width: 27rem;
		h2 {
			font-size: 2rem;
			font-weight: 600;
			color: #555;
		}
		h3 {
			font-size: 1.375rem;
			font-weight: 300;
			color: #555;
		}
	}
	form {
		.grid-content {
			padding: 0;
		}
		.button {
			width: 100%;
			&.last {
				margin-right: 0; 
			}
		}
	}
	.login-wrap {
		h2 {
			text-align: center;
			font-size: 1.75rem;
		}			
		input[type="checkbox"] + label {
			vertical-align: text-top;
		}
	}
}